rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // --- Public Data (For your submit.html page) ---
    match /artifacts/toysfortots-eae4d/public/3USFkKsJe7T8ZYdW5YfE/data/EF1QWEKWPMuoLN7fC4Ri {

      // Allow ANY authenticated user to read (get) a single location
      match /locations/{boxId} {
        allow get: if request.auth != null;
        allow list, create, update, delete: if false; // Deny all writes
      }

      // Allow ANY authenticated user to create a new report
      match /totsReports/{reportId} {
        allow create: if request.auth != null;
        allow read, update, delete: if false;
      }
    }

    // --- Private Data (For your setup.html page) ---
    match /artifacts/toysfortots-eae4d/private/aCckkx6FbV1oKOhffIfD/data/V8dC2I8Lte56NJU2GyyY {

      // Allow ONLY authenticated Google users to LIST (read) the contacts
      match /contacts/{contactId} {
        allow list, get: if request.auth.token.firebase.sign_in_provider == 'google.com';
        allow write: if false;
      }

      // Allow ONLY authenticated Google users to READ the config
      match /metadata/config {
         allow get: if request.auth.token.firebase.sign_in_provider == 'google.com';
         allow write: if false;
      }
    }

    // Denal all other access
    match /{document=**} {
      allow read, write: if false;
    }
  }
}